html{
	touch-action: manipulation;
}

#container{
	padding: 20px;
}

#create_product_btn{
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid #c1c1c1;
	width: 180px;
	font-size: 20px;
}

#product_category_btn{
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid #c1c1c1;
	width: 220px;
	font-size: 20px;
}

span.span_seperator{
	width: 20px;
	display: block;
	border: 1px solid #fff;
	visibility: hidden
}


/* #pending_order_btn, */
.lg-btn {
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid #c1c1c1;
	width: 150px;
	font-size: 20px;
}

#change_password_container{
	display: none;
}

/* modal confirm */
.modal-confirm {
	color: #636363;
	width: 400px;
}
.modal-confirm .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
	text-align: center;
	font-size: 14px;
}
.modal-confirm .modal-header {
	border-bottom: none;
	position: relative;
}
.modal-confirm h4 {
	text-align: center;
	font-size: 26px;
	margin: 0px 0 -10px;
}
.modal-confirm .close {
	position: absolute;
	top: -5px;
	right: -2px;
}
.modal-confirm .modal-body {
	color: #999;
}
.modal-confirm .modal-footer {
	border: none;
	text-align: center;
	border-radius: 5px;
	font-size: 13px;
	padding: 10px 50px 25px;
}
.modal-confirm .modal-footer a {
	color: #999;
}
.modal-confirm .icon-box {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	border-radius: 50%;
	z-index: 9;
	text-align: center;
}
.modal-confirm .icon-box i {
	font-size: 46px;
	display: inline-block;
	margin-top: 13px;
}
.modal-confirm .btn {
	color: #fff;
	border-radius: 4px;
	background: #60c7c1;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	min-width: 120px;
	border: none;
	min-height: 40px;
	border-radius: 3px;
	margin: 0 5px;
	outline: none !important;
}
.modal-confirm .btn-info {
	background: #c1c1c1;
}
.modal-confirm .btn-info:hover, .modal-confirm .btn-info:focus {
	background: #a8a8a8;
}
.modal-confirm .btn-danger {
	background: #f15e5e;
}
.modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
	background: #ee3535;
}
/* modal confirm */



#category_list_modal input{
	font-size: 16px;
}

#category_list_modal .form_container{
	margin-bottom: 4px;
}

#category_list_modal .form_button_container{
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 10px;
}

#delete_category_btn, #update_category_btn, #undo_delete_btn{
	display: none;
}

.new_category{
	border-left: 8px solid #2574e0;
}

.remove_category{
	border-left: 8px solid #a94442;
	text-decoration: line-through;
}

.update_category{
	border-left: 8px solid #0dbc5f;
}

#img_preview {
	width: 200px;
	height: 200px;
	border: 1px solid #ced4da;
	position: relative;
	background-image: url("img/noimg.png");
	background-color: #80808026
}

#upload-text {
	background: #00000052;
    color: white;
    bottom: 0;
    position: absolute;
	display: none;
	width: 100%;
	cursor: pointer;
	z-index: 99999
}

#img_preview:hover #upload-text, .croppie-container:hover #upload-text {
	display: block
}


